In [22]:
import pandas as pd
from structure import *

print("Importing raw data...")
df_atm_conditions = pd.read_csv(RAW_DATA_ROOTFOLDER / "ATMOSPHERIC_COND.csv")
df_atm_conditions.head()

Importing raw data...

    ACCIDENT_NO  ATMOSPH_COND  ATMOSPH_COND_SEQ Atmosph Cond Desc
0  T20060000010             1                 1             Clear
1  T20060000018             1                 1             Clear
2  T20060000022             1                 1             Clear
3  T20060000023             1                 1             Clear
4  T20060000026             1                 1             Clear

In [35]:
df = df_atm_conditions[["ACCIDENT_NO","Atmosph Cond Desc" ]]

#There is ~3000 duplicates in ACCIDENT_NO due to the sequences. 
#I decided to keep the granularity to ACCIDENT_NO by only keeping the last of the sequence
#df=df[~df.duplicated(subset="ACCIDENT_NO", keep="Last")] 
df["Atmosph Cond Desc"].value_counts()

Clear           164227
Raining          22018
Not known        14839
Strong winds      3034
Fog               1918
Dust               555
Smoke              279
Snowing             88
Name: Atmosph Cond Desc, dtype: int64

In [24]:
df = df.set_index("ACCIDENT_NO", verify_integrity=True)
df

             Atmosph Cond Desc
ACCIDENT_NO
T20060000010             Clear
T20060000018             Clear
T20060000022             Clear
T20060000023             Clear
T20060000026             Clear
...                        ...
T20200019239             Clear
T20200019247             Clear
T20200019250             Clear
T20200019253             Clear
T20200019417             Clear

[203708 rows x 1 columns]

In [37]:
df["Atmosph Cond Desc"].value_counts()

Clear           164227
Raining          22018
Not known        14839
Strong winds      3034
Fog               1918
Dust               555
Smoke              279
Snowing             88
Name: Atmosph Cond Desc, dtype: int64