In [17]:
import pandas as pd
from config import *

In [18]:
raw_df = pd.read_csv(CFG.data_rootfolder / "SUBDCA.csv")
df = raw_df 
df.head()

    ACCIDENT_NO SUB_DCA_CODE  SUB_DCA_SEQ              Sub Dca Code Desc
0  T20060000010          NRQ            1                   Not Required
1  T20060000018          NRQ            1                   Not Required
2  T20060000022          X02            1              Fell from vehicle
3  T20060000023          A01            2  Vehicle entering intersection
4  T20060000023          N02            1                      Mid-block

In [19]:
df = df.drop(columns = ["SUB_DCA_SEQ", "SUB_DCA_CODE"]).set_index("ACCIDENT_NO")
df.head()

Not Required                                    64699
No vehicle mounted/struck                       31043
Intersection                                    20908
Mid-block                                       20359
Vehicle entering intersection                   15206
                                                ...
Pedestrian emerged from behindother vehicles       12
Vehicle moving back - out of control                9
Unknown animals                                     7
Animals - Other tame animals                        5
Pedestrian emerged from behindmotorcycle            1
Name: Sub Dca Code Desc, Length: 114, dtype: int64